.container{
    display: flex;
    width: 80%;
    height: 40px;
    background-color: #f4f4f4;
    margin: 40px auto auto auto;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.sMedia{
    display: flex;
    gap: 20px;
    align-items: center;
}
.mediaHandle{
    display: flex;
    flex-direction: row;
    gap: 20px;
}