.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  border: 1px solid red;
}
.introSection{
    width: 50%;
}
.loginSection{
    width: 42%;
}

.inputEmailDiv {
  position: relative;
  margin: 20px 0;
}

.inputEmailDiv input {
  width: 90%;
  height: 20px;
  padding: 10px 14px;
  padding-top: 20px;
  /*leavespaceforlabel*/
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  border-radius: 12px;
  outline: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.inputEmailDiv label {
  position: absolute;
  background-color: #f4f4f4;
  top: 1px;
  left: 12px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  /* background: white; */
  padding: 0 4px;
  pointer-events: none;
  transition: 0.2s ease all;
}

/* Float label when input has focus or value */
.inputEmailDiv input:focus + label,
.inputEmailDiv input:not(:placeholder-shown) + label {
  top: -8px;
  left: 10px;
  font-size: 12px;
  color: #333;
}
