.container{
    background-color: #d9d9d9;
    width: 60%;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.checkBoxText{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    margin: 20px auto;
    justify-content: space-between;

}
.checkBoxText h3{
    width: 100%;
    /* font-size: 30px; */
      font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    /* position: fixed; */
}

.questBox{
    /* border: 1px solid red; */
    width: 40%;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
   
}

.blockCheck {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 12px; /* spacing between checkboxes */
}

.questBox :global(.ant-checkbox-wrapper) {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}



/* MEDIA QUERRY */
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* styles for phones */
  .questBox{
    width: 80%;
  }
  .checkBoxText{
    flex-direction: column;
  }
}

/* Small devices (portrait tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* styles for small tablets */
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* styles for tablets */
 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* styles for small laptops/desktops */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* styles for large screens */
 
  }

