.tableTitle{
    text-transform: uppercase;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.tableTitle h1{
    font-size: 38px;
    font-family:"Bebas Neue", sans-serif ;
    align-items: center;
}
.tableTitle h5{
    color: #ffb900;
    font-size: 20px;
}

/* MEDIA QUERRY */
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* styles for phones */
  .tableTitle{
    width: 100%;
  }
}

/* Small devices (portrait tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* styles for small tablets */
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* styles for tablets */
 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* styles for small laptops/desktops */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* styles for large screens */
 
  }

