.container{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 50px;
    background-color: #000000;
    color: #fff;
    font: poppins;
    margin: 2px auto;
    padding: 4px 10px;
}
.order{
  display: flex;
  width: 100px !important;

}
.order a{
    text-decoration: none;
    color: #000;
    background-color: #fabb14;
    padding: 6px;
    font-size: 14px;
    width: 90px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
   
}



/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* styles for phones */
  .container{
    display: flex;
    background-color: #f4f4f4;
    /* flex-direction: column; */
  }
}

/* Small devices (portrait tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* styles for small tablets */
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* styles for tablets */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* styles for small laptops/desktops */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* styles for large screens */
}
